#form_file_main{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border: 1px solid #a1a1a1;
    background-color: pink;
    padding: 20px;
    width: 600px;
    display: flex;
 margin: 0 auto;
    flex-direction: column;
    line-height: 50px;
    label{
        font-size: 40px;
        margin-bottom: 30px;
    }
    input{
        outline: none;
        box-shadow: none;
        border: none;
        background-color: gray;
    }
    button{
        margin-top: 50px;
    }
}
#list_form{
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border: 1px solid #a1a1a1;
    background-color: pink;
    padding: 20px;
    width: 600px;
    display: flex;
 margin: 0 auto;
 justify-content: center;
 align-items: start;
    line-height: 50px;
}